.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);
  font-family: "Inter", sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 700;
  color: #2d2d2d;
  font-size: 28px;
}

.cuadro {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filtro {
  width: 120px;
  padding: 10px;
  border: 2px solid #dcdcdc;
  border-radius: 6px;
  background: #fafafa;
  font-size: 14px;
}

.input {
  flex: 1;
  padding: 10px 14px;
  font-size: 14px;
  border: 2px solid #dcdcdc;
  border-radius: 6px;
  background: #fafafa;
}

.btn-primary {
  background: #d35400;
  color: white;
  padding: 10px 18px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.25s;
}

.btn-primary:hover {
  background: #e67e22;
}

select:focus, input:focus, textarea:focus {
  border-color: #4a90e2;
  outline: none;
  background: #fff;
}

.headers-title {
  margin-top: 30px;
  font-weight: 600;
  font-size: 20px;
}

.header-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.input-small {
  flex: 1;
  padding: 10px;
  border: 2px solid #e0e0e0;
  border-radius: 6px;
  background: #fafafa;
}

.btn-secondary {
  margin-top: 12px;
  width: 20%;
  padding: 10px;
  background: #ececec;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #ddd;
  font-weight: 500;
}

.btn-secondary:hover {
  background: #d3540079;
}

textarea {
  width: 100%;
  margin-top: 12px;
  min-height: 130px;
  padding: 12px;
  font-family: monospace;
  font-size: 14px;
  border: 2px solid #dcdcdc;
  border-radius: 6px;
  background: #fafafa;
}

.response-box {
  margin-top: 30px;
  background: #f6f6f6;
  padding: 18px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-family: monospace;
}

pre {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  overflow-x: auto;
  border: 1px solid #e1e1e1;
}

.btn-delete {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 0 10px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  height: 38px;
}

.btn-delete:hover {
  background: #ff1a1a;
}
